<header class="main-header">
  <div class="top-navbar">
    <nav class="nav-links">
      <ul>
        <li><a href="/productListHome">Servicios Hogar</a></li>
        <li><a href="/productListCompany">Empresas</a></li>
        <li><a href="#">Nosotros</a></li>
      </ul>
    </nav>
  </div>
  
  <div class="container-menu">
    <div class= "menu">
      
      <a href="/"><img src="img/logo.png" alt="logo" class="logo"></a>
      
        <nav>
          <ul>
            <li class="log-in"><a href="/login"><i class="fa-regular fa-user"><p>Ingresar</p></i></a></li>
            <li class="register"><a href="/register"><i class="fa-regular fa-id-card"><p>Registrarse</p></i></a></li>
            <li class="shopping"><a href="/productCart"><i class="fa-solid fa-cart-shopping"><p>Carrito</p></i></a></li>
            <li class="burger-menu"><a href="#"><i class="fa-solid fa-bars"><p>Menu</p></i></a></li>
          </ul>
        </nav>
    </div>
  </div>
</header>