<header class="main-header">
  <div class="top-navbar">
    <nav class="nav-links">
      <ul>
        <li><a href="/productHome">Servicios Hogar</a></li>
        <li><a href="/productCompany">Empresas</a></li>
        <li><a href="/about">Nosotros</a></li>
      </ul>
    </nav>
  </div>

  <div class="container-menu">
    <div class="menu">
      <a href="/"><img src="/img/logo.png" alt="logo" class="logo" /></a>

      <% if (locals.isLogged) { %>
        <div class="dropdown">
          <a id="droplink" class="droplink" href="#"><img src="/img/imgUsers/<%= locals.userLogged.image%>" />Hola <%=
              locals.userLogged.nombre %> <i class="fa-solid fa-angle-down"></i>
          </a>

          <div class="dropdown-content" id="dropdown-content">
            <button class="hidden" id="hidden"><i class="fa-solid fa-xmark"></i></button>
            <li class="nav-item">
              <a href="/user/profile"><i class="fa fa-user">
                  <p>Perfil</p>
                </i>
              </a>
            </li>

            <li class="nav-item">
              <a href="/user/logout"><i class="fa fa-sign-out">
                  <p>logout</p>
                </i>
              </a>
            </li>

            <!-- <% if (locals.adminLog) { %>
            <li class="nav-item">
              <a href="/user/list"
                ><i class="fa-solid fa-users"><p>Usuarios</p></i>
              </a>
            </li>
            <% } %> -->

          </div>
        </div>


        <% }else { %>

          <button class="open" id="open"><i class="fa-solid fa-bars"></i></button>

          <nav class="nav" id="nav">
            <button class="close" id="close"><i class="fa-solid fa-xmark"></i></i></button>
            <ul class="nav-list">

              <li class="register">
                <a href="/user/register"><i class="fa-regular fa-id-card">
                    <p>Registrarse</p>
                  </i></a>
              </li>
              <li class="log-in">
                <a href="/user/login"><i class="fa-regular fa-user">
                    <p>Ingresar</p>
                  </i></a>
              </li>
              <li class="shopping">
                <a href="/productCart"><i class="fa-solid fa-cart-shopping">
                    <p>Carrito</p>
                  </i></a>
              </li>
              <% } %>
            </ul>
          </nav>
    </div>
  </div>
</header>
<script src="/js/headerWithoutLog.js"></script>
<script src="/js/headerWithLog.js"></script>