<!DOCTYPE html>
<%- include ('../partials/head') %>
<body>
    
    <%- include ('../partials/header') %>

    <main>
    <div class="top-resume">
        <div class="banner">
            <h2>¡Agenda tu servicio de limpieza hogar!</h2>
            <img src="img/imgServiciosMyHelp/background1.jpg" alt="background1">
        </div>
    </div>
     <div class="first-container">
        <div class="select-options">
            <div class="horas">
                <h3>Elige el horario que se adapte a tus necesidades</h3>
                <input type="radio" name="horas" id="4-horas-am" value="am">
                <label for="4-horas-am">4 Horas - AM</label>
                <input type="radio" name="horas" id="4-horas-pm" value="pm">
                <label for="4-horas-pm">4 Horas - PM</label>
                <input type="radio" name="horas" id="8-horas" value="all">
                <label for="8-horas">8 Horas </label>
            </div>
            <div class="periodo">
                <h3>Elige el periodo de tiempo</h3>
                <input type="radio" name="periodo" id="semanal" value="sem">
                <label for="semanal">Semanal</label>
                <input type="radio" name="periodo" id="mensual" value="men">
                <label for="mensual">Mensual</label>
                <input type="radio" name="periodo" id="dia" value="all">
                <label for="dia">Dia</label>
            </div>
        </div>
        <form class="schedule" action="/productCart" method="get">
            <div class="name">
                <div class="first-name">
                    <div>
                    <label class="labels" for="names">Nombres</label>
                    </div>
                    <input type="text" name="name" id="names" placeholder="Ingresa tu nombre" required>
                </div>
                <div class="last-name">
                    <div>
                    <label class="labels" for="last-names">Apellidos</label>
                    </div>
                    <input type="text" name="name" id="last-names" placeholder="Ingresa tus apellidos" required>
                </div>
            </div>
            <div class="contact-data">
                <div class="email">
                    <div>
                    <label class="labels" for="email">Email</label>
                    </div>
                    <input type="email" name="email" id="email" placeholder="Ingresa tu correo" required>
                </div>
                <div class="phone">
                    <div>
                    <label class="labels" for="celphone">Celular</label>
                    </div>
                    <input type="text" name="name" id="celphone" placeholder="Ingresa tu celular" required>
                </div>    
            </div>
            <div class="address">
                <div class="street">
                    <div>
                    <label class="labels" for="direction">Dirección</label>
                    </div>
                    <input type="text" name="direction" id="direction" placeholder="Ingresa tu direccion" required>
                </div>
                <div class="location">
                    <div>
                    <label class="labels" for="localidad">Localidad</label>
                    </div>
                    <input type="text" name="localidad" id="localidad" placeholder="Ingresa tu localidad" required>
                </div>   
            </div>
            <div class="date-service">
                <div class="select-date">
                    <div>
                    <label class="labels" for="fecha">Fecha</label>
                    </div>
                    <input class="date" type="date" name="fecha" id="fecha">
                </div>
                <div class="hour">
                    <div>
                    <label class="labels" for="hora">Hora</label>
                    </div>
                    <select name="select" id="hora">
                        <option value="defaut">Selecione</option>
                        <option value="1">7:30 AM - 3:00 PM</option>
                        <option value="2">8:30 AM - 4:30 PM</option>
                    </select>
                </div>   
            </div>
            <div class="recomendation">
                <div class="label-title">
                    <label class="labels" for="recomendaciones">¿Indicaciones o recomendaciones?</label>
                </div>
                <div class="space">
                    <textarea name="recomendaciones" id="recomendaciones" cols="30" rows="5"></textarea>
                </div>
            </div>
            <div class="buttons">
                <a href="/productCart">
                    <button class="sending" type="submit">¡Agendar servicio!</button>
                </a>
                <button class="clear" type="reset">Cancelar</button>
            </div>             
        </form>
    </div>

    <div class="detail">
        <div class="second-container">
            <div class="incluye">
                <h2>¿Que incluye tu servicio?</h2>
                    <ul>
                        <li>
                        <strong>SERVICIO POR 8 HORAS</strong>
                        <p>Una empleada Myhelp realizará la labores de limpieza del hogar, teniendo en cuenta el tiempo contratado.</p>
                        <p>Aseo general de todo tu hogar, incluido:</p>
                        <p>Limpiar pisos (barrer o aspirar, trapear) en áreas comunes y habitaciones.</p>
                        <p>Limpieza de baños (lavado general.)</p>
                        <p>Limpiar cocina (mesón, piso, estufa, lavaplatos, loza.)</p>
                        <p>Tender camas</p>
                        <p>Quitar polvo de muebles y superficies de fácil acceso</p>
                        <p>Lavar ropa y dejarla tendida en el tendedero</p>
                    </li>
                    </ul>
              </div>
              <div class="no-incluye">
                <ul>
                    <li>
                       <strong>TU SERVICIO NO INCLUYE</strong>
                       <p>Preparación o alistamiento de alimentos.</p>
                       <p>Aseo profundo en áreas o elementos específicos.</p>
                       <p>Elementos e insumos para la realización del servicio.</p>
                    </li>
                   </ul>
              </div>
        </div>
     </div>           
    </main>

    <%- include ('../partials/footer') %>

</body>
</html>