<!DOCTYPE html>
<%- include ('../partials/head') %>
<body>

  <%- include ('../partials/header') %>
  
    <main>

    <section class="contenedor">
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Limpieza Hogar</span>
                <img src="img/imgServiciosMyhelp/limpiezaHogar.svg" alt="" class="img-item">
                <span class="precio-item">Limpieza por 8 horas</span>
                <span class="precio-item">$70.000</span>
                <button class="boton-item">Agregar</button>
            </div>
        </div>
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item"></span>
                <img src="img/limpieza.png" alt="" class="img-item">
                <span class="precio-item">$####</span>
                <button class="boton-item">Agregar</button>
            </div>
        </div>

        <!-- Código HTML de finalizacion de compra-->

        <div class="contenedor-compras">
            <div class="compra">
                <span class="titulo-compras">Finalizar compra</span>
                <span class="txt-compras"><strong>$70.000</strong></span>
                <span class="txt-compras">iva <strong>$11.200</strong> </span>
                <span class="txt-compras">-----------------</span>
                <span class="txt-compras">Total <strong>$81.200</strong></span>
                <button class="boton-compras">Pagar</button>
                <a href="/"><button class="boton-compras">Cancelar</button></a>

            </div>
        </div>
    </section>
</main>

  <%- include ('../partials/footer') %>

</body>
</html>