<!DOCTYPE html>
<%- include ('./partials/head', {title: 'MyHelp' }) %>

  <body>

    <%- include ('./partials/header') %>

      <main>
        <div class="top-info">
          <div class="bg-img">
            <img src="../img/aboutimg2.svg" alt="imgServiciosMyHelp">
          </div>

          <div class="about-description">
            <h1>El lugar donde tu tranquilidad comienza</h1>
            <h3>Acerca de Nosotros</h3>
            <p>
              En Myhelp, nos enorgullece ser su socio confiable en la satisfacción de todas sus
              necesidades de servicio para el hogar y empresas. Con años de experiencia en el mercado, hemos
              evolucionado para convertirnos en un referente en la industria de servicios integrales.
            </p>
          </div>
        </div>
        <div class="bottom-info">
          <h3>Nuestra Misión</h3>
          <p>
            Nuestra misión es simplificar la vida de nuestros clientes al proporcionar una amplia gama de
            servicios
            para el hogar y empresas de la más alta calidad. Queremos que nuestros clientes puedan disfrutar de
            sus
            espacios y dedicar más tiempo a lo que realmente importa, sabiendo que pueden confiar en nosotros para
            cuidar de sus necesidades.
          </p>
          <hr>
          <h3>Nuestros Valores</h3>
          <p>
            <em>Calidad Intransigente:</em> Nos esforzamos por ofrecer servicios excepcionales en todo
            momento. Cada uno de
            nuestros profesionales está altamente capacitado y comprometido con los más altos estándares de
            calidad.
          </p>
          <p>
            <em>Confianza y Conveniencia:</em> Creemos en la transparencia y la comodidad. Nuestros clientes
            confían en
            nosotros para realizar el trabajo de manera confiable y eficiente, y lo hacemos de manera conveniente
            y sin complicaciones.
          </p>
          <p>
            <em>Compromiso con la Sostenibilidad:</em> Nos preocupamos por el medio ambiente y trabajamos para
            minimizar
            nuestro impacto. Utilizamos prácticas y productos ecológicos.
          </p>
          <hr>
          <p>
            En Myhelp, estamos comprometidos con la excelencia y la satisfacción del cliente. Nuestro equipo está
            listo para ayudarlo a mantener sus espacios en perfecto estado y simplificar su vida. Permítanos ser
            su socio en la búsqueda de soluciones integrales y confiables.
          </p>
          <div class="btns">
            <a href="/"><button type="button">Conoce mas!</button></a>
          </div>
        </div>

      </main>

      <%- include ('./partials/footer') %>

  </body>

  </html>