<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba</title>
  <link rel="stylesheet" href="css/stylesHome.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Space+Mono:ital@1&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a4dafc7c79.js" crossorigin="anonymous"></script>

</head>
<body>
  <header class="main-header">
    <div class="top-navbar">
      <nav class="main-navbar">
        <ul>
          <li><a href="#">Servicios Hogar</a></li>
          <li><a href="#">Empresas</a></li>
          <li><a href="#">Nosotros</a></li>
        </ul>
      </nav>
    </div>
    
    <div class="container-menu">
      <a href="#"><img src="img/logo.png" alt="logo" class="logo"></a>
      <nav class="menu-navbar">
        <ul>
          <li><a href="#"><i class="fa-regular fa-user"><p>Ingresar</p></i></a></li>
          <li><a href="#"><i class="fa-solid fa-cart-shopping"><p>Carrito</p></i></a></li>
          <li><a href="#"><i class="fa-solid fa-bars"><p>Menu</p></i></a></li>
        </ul>
      </nav>

    </div>
   
  </header>

  <main>
    
  </main>

  <footer>

  </footer>
</body>
</html>