<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyHelp</title>
  <link rel="stylesheet" href="css/stylesHome.css">
  <link href="https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a4dafc7c79.js" crossorigin="anonymous"></script>

</head>
<body>
  <header>
    <div class="top-navbar">
      <nav class="nav-links">
        <ul>
          <li><a href="#">Servicios Hogar</a></li>
          <li><a href="#">Empresas</a></li>
          <li><a href="#">Nosotros</a></li>
        </ul>
      </nav>
    </div>
    
    <div class="container-menu">
      <div class= "menu">
        <img src="img/logo.png" alt="logo" class="logo">
          <nav class="nav-menu">
            <ul>
              <li class="search"><a href="#"><i class="fa-solid fa-magnifying-glass"><p>Buscar</p></i></a></li>
              <li class="log-in"><a href="/login"><i class="fa-regular fa-user"><p>Ingresar</p></i></a></li>
              <li class="register"><a href="/register"><i class="fa-regular fa-id-card"><p>Registrarse</p></i></a></li>
              <li class="shopping"><a href="/productCart"><i class="fa-solid fa-cart-shopping"><p>Carrito</p></i></a></li>
              <li class="Burger-menu"><a href="#"><i class="fa-solid fa-bars"><p>Menu</p></i></a></li>
            </ul>
          </nav>
      </div>
    </div>
   
  </header>

  <main>
    <h1>Main</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur deserunt distinctio nemo, eum optio fugit. Quis soluta culpa quo beatae delectus iusto fugiat vero fuga earum nobis eveniet, rerum voluptatibus. </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quo iure voluptates dolorum enim, recusandae illum hic quos sapiente provident similique repellendus, suscipit, laborum delectus ad expedita eligendi optio ab.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quisquam consectetur corrupti enim facere eum nemo adipisci vitae ut quas quasi aperiam, vel libero rerum consequuntur aut. Eum, neque? Praesentium.
    </p><p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur deserunt distinctio nemo, eum optio fugit. Quis soluta culpa quo beatae delectus iusto fugiat vero fuga earum nobis eveniet, rerum voluptatibus. </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quo iure voluptates dolorum enim, recusandae illum hic quos sapiente provident similique repellendus, suscipit, laborum delectus ad expedita eligendi optio ab.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quisquam consectetur corrupti enim facere eum nemo adipisci vitae ut quas quasi aperiam, vel libero rerum consequuntur aut. Eum, neque? Praesentium.
    </p><p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur deserunt distinctio nemo, eum optio fugit. Quis soluta culpa quo beatae delectus iusto fugiat vero fuga earum nobis eveniet, rerum voluptatibus. </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quo iure voluptates dolorum enim, recusandae illum hic quos sapiente provident similique repellendus, suscipit, laborum delectus ad expedita eligendi optio ab.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quisquam consectetur corrupti enim facere eum nemo adipisci vitae ut quas quasi aperiam, vel libero rerum consequuntur aut. Eum, neque? Praesentium.
    </p>
  </main>

  <footer>
    <div class="container">
      <div class="clauses">
        <ul class="items">
          <li><a href="#">Quienes somos</a></li>
          <li><a href="#">Quieres ser provedor?</a></li>
          <li><a href="#">Terminos y condiciones</a></li>
          <li><a href="#">Política de cookies</a></li>
          <li><a href="#">Política de tratamiento datos personales</a></li>
        </ul>
      </div>

      <div class="newsletter">
        <h3>Enterate de nuestras ultimas noticias</h3>
        <form action="" method="post" class="form-search">
          <input type="email" name="email" placeholder="Email">
          <button type="submit">Suscribete</button>
        </form>

        <div class="social-media">
          <ul class="socials">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
          </ul>
        </div>
      </div>
      
      <div class="information">
        <ul class="contact">
          <h3>Contacto</h3>
          <li>Direccion: xxxxxx</li>
          <li>Telefono: (+57) 123456789</li>
          <li>Correo: www.contacto@MyHelp.com</li>
          <li>Correo: www.soporte@MyHelp.com</li>
        </ul>

        <div class="help">
          <h3>Ayuda</h3>
          <li>
            <a href="#">Centro de ayuda</a>
          </li>
        </div>
      </div>
    
      <div class="footer-bottom">
        <a href="#"><img src="img/logo.png" alt="logo"></a>
        <p>Myhelp 2023-©Todos los derechos reservados</p>
      </div>
  </div>
  </footer>
</body>
</html>