<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyHelp</title>
  <link href="https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a4dafc7c79.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/stylesHome.css">

</head>
<body>
  <header class="main-header">
    <div class="top-navbar">
      <nav class="nav-links">
        <ul>
          <li><a class="hogar" href="#">Servicios Hogar</a></li>
          <li><a class="empresas" href="#">Empresas</a></li>
          <li><a class="nosotros" href="#">Nosotros</a></li>
        </ul>
      </nav>
    </div>
    
    <div class="container-menu">
      <div class= "menu">
        <img src="img/logo.png" alt="logo" class="logo">
          <nav>
            <ul>
              <li class="log-in"><a href="/login"><i class="fa-regular fa-user"><p>Ingresar</p></i></a></li>
              <li class="register"><a href="/register"><i class="fa-regular fa-id-card"><p>Registrarse</p></i></a></li>
              <li class="shopping"><a href="/productCart"><i class="fa-solid fa-cart-shopping"><p>Carrito</p></i></a></li>
              <li class="Burger-menu"><a href="#"><i class="fa-solid fa-bars"><p>Menu</p></i></a></li>
            </ul>
          </nav>
      </div>
    </div>
  </header>

  <main>
    <section class="main-container">
      <div class="main-img">
        <a href="productDetail">
          <img src="img/imgServiciosMyHelp/limpiezaHogar.svg" alt="limpiezaHogarMedium">
        </a>
        <a href="productDetail">
          <button class="send" type="submit"> Solicita aqui tu servicio</button>
        </a>
      </div>
    </section>

    <section class="highlight-container">
      <div class="search-bar">
        <div class="title">
          <h3>¡Encuentra el servicio a tu necesidad!</h3>
          <p>Nuestros Profesionales te ayudaran</p>
        </div>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" name="search" placeholder="Encuentra tu sevicio MyHelp">
        <a href="#"><button type="submit">Buscar</button></a>
      </div>
      <h2>Servicios mas solicitados</h2>
      <div class="all-services">
        <div class="services">
          <article>
            <img src="img/imgServiciosMyHelp/fontaneria.svg" alt="limpiezaHogar">
            <div class="description">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur architecto aspernatur doloremque corporis.</p>
            </div>
          </article>
        </div>
        <div class="services">
          <article>
            <img src="img/imgServiciosMyHelp/limpiezaProfunda.svg" alt="limpiezaProfunda">
            <div class="description">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur architecto aspernatur doloremque corporis.</p>
            </div>
          </article>
        </div>
        <div class="services">
          <article>
            <img src="img/imgServiciosMyHelp/desinfeccionAmbientes.svg" alt="desinfeccionAmbientes">
            <div class="description">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur architecto aspernatur doloremque corporis.</p>
            </div>
          </article>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-container">
      <div class="clauses">
        <ul>
          <li><a href="#">Quienes somos</a></li>
          <li><a href="#">Quieres ser provedor?</a></li>
          <li><a href="#">Terminos y condiciones</a></li>
          <li><a href="#">Política de cookies</a></li>
          <li><a href="#">Política de tratamiento datos personales</a></li>
        </ul>
      </div>

      <div class="newsletter">
        <h3>Enterate de nuestras ultimas noticias</h3>
        <form action="" method="post">
          <input type="email" name="email" placeholder="Email">
          <button type="submit">Suscribete</button>
        </form>

        <div class="social-media">
          <ul>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
          </ul>
        </div>
      </div>
      
      <div class="contact">
        <ul>
          <h3>Contacto</h3>
          <li>Telefono: (+57) 123456789</li>
          <li>Correo: www.contacto@MyHelp.com</li>
          <li>Correo: www.soporte@MyHelp.com</li>
        </ul>
      </div>
  </div>
  <div class="footer-bottom">
    <a href="">
      <img src="img/logo.png" alt="logo">
    </a>
    <p>Myhelp 2023-©Todos los derechos reservados</p>
  </div>
  </footer>
</body>
</html>