<!DOCTYPE html>
<%- include ('./partials/head', {title: 'MyHelp'}) %>
<body>

  <%- include ('./partials/header') %>

  <main>
    <section class="main-container">
      <div class="main-img">
          <img src="img/imgServiciosMyHelp/banner1.svg" alt="banner1">
      </div>
    </section>

    <section class="highlight-container">
          <div class="search-bar">
            <div class="title">
              <h3>¡Encuentra el servicio a tu necesidad!</h3>
              <p>Nuestros profesionales te ayudarán</p>
            </div>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="search" placeholder="Encuentra tu sevicio MyHelp">
            <a href="#"><button type="submit">Buscar</button></a>
          </div>
        
          
          <!-- Swiper -->
      <div class="swiper">
        <h2>Nuestros servicios destacados</h2>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
              <img src="img/imgServiciosMyHelp/limpiezaHogar.svg" alt="limpiezaHogar">
              <div class="text">
                <a href="scheduleService">
                <button class="request" type="submit"> Solicita aquí tu servicio</button></a>
              </div>       
          </div>
          <div class="swiper-slide">
            <img src="img/imgServiciosMyHelp/limpiezaProfunda.svg" alt="limpiezaProfunda">
            <div class="text">
              <a href="scheduleService">
              <button class="request" type="submit"> Solicita aquí tu servicio</button></a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="img/imgServiciosMyHelp/fontaneria.svg" alt="fontaneria">
            <div class="text">
              <a href="scheduleService">
              <button class="request" type="submit"> Solicita aquí tu servicio</button></a>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
  </main>

  <%- include ('./partials/footer') %>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="/js/sliderMainPage.js"></script>
</body>
</html>