<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyHelp</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a4dafc7c79.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="main-header">
    <div class="top-navbar">
      <nav class="nav-links">
        <ul>
          <li><a href="#">Servicios Hogar</a></li>
          <li><a href="#">Empresas</a></li>
          <li><a href="#">Nosotros</a></li>
        </ul>
      </nav>
    </div>
    <div class="container-menu">
      <div class= "menu">
        <a href="/"><img src="img/logo.png" alt="logo" class="logo"></a>
          <nav>
            <ul>
              <li class="log-in"><a href="/login"><i class="fa-regular fa-user"><p>Ingresar</p></i></a></li>
              <li class="register"><a href="/register"><i class="fa-regular fa-id-card"><p>Registrarse</p></i></a></li>
              <li class="shopping"><a href="/productCart"><i class="fa-solid fa-cart-shopping"><p>Carrito</p></i></a></li>
              <li class="Burger-menu"><a href="#"><i class="fa-solid fa-bars"><p>Menu</p></i></a></li>
            </ul>
          </nav>
      </div>
    </div>
  </header>
    <main>

    <section class="contenedor">
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Limpieza comedor</span>
                <img src="img/limpieza.png" alt="" class="img-item">
                <span class="precio-item">$####</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
        </div>
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Limpieza comedor</span>
                <img src="img/limpieza.png" alt="" class="img-item">
                <span class="precio-item">$####</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
        </div>

        <!-- Código HTML de finalizacion de compra-->

        <div class="contenedor-compras">
            <div class="compra">
                <span class="titulo-compras">Finalizar compra</span>
                <span class="txt-compras">Producto </span>
                <span class="txt-compras">Producto</span>
                <button class="boton-compras">Pagar</button>
            </div>
        </div>
    </section>
</main>

  <footer>
    <div class="footer-container">
      <div class="clauses">
        <ul>
          <li><a href="#">Quiénes somos</a></li>
          <li><a href="#">¿Quieres ser provedor?</a></li>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Política de cookies</a></li>
          <li><a href="#">Política de tratamiento datos personales</a></li>
        </ul>
      </div>

      <div class="newsletter">
        <h3>Entérate de nuestras últimas noticias</h3>
        <form action="" method="post">
          <input type="email" name="email" placeholder="Email">
          <button type="submit">Suscríbete</button>
        </form>

        <div class="social-media">
          <ul>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
          </ul>
        </div>
      </div>
      
      <div class="contact">
        <ul>
          <h3>Contacto</h3>
          <li>Teléfono: (+57) 123456789</li>
          <li>Correo: contacto@MyHelp.com</li>
          <li>Correo: soporte@MyHelp.com</li>
        </ul>
      </div>
  </div>
  <div class="footer-bottom">
    <a href="">
      <img src="img/logo.png" alt="logo">
    </a>
    <p>Myhelp 2023-©Todos los derechos reservados</p>
  </div>
  </footer>
</body>
</html>