/*----------------------
--------HEADER--------
-----------------------*/

.main-header {
  /*position: fixed;
  margin-top: 0;*/
  background-color: #023047;
  width: 100%;
}

/*----------------
     MY PROFILE 
------------------*/

.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo para el enlace del perfil */

.droplink {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffb703;
  text-decoration: none;
  transition: all 0.5s;
}
.droplink:hover {
  color: #fb8500;
}
.droplink img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.droplink i {
  font-size: 18px;
  margin-left: 10px;
}

/* Estilo para los enlaces de la lista */

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  background-color: #023047;
  right: 0;
  padding: 5px;
  border-radius: 1rem;
  width: 50%;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
.hidden {
  position: absolute;
  top: 5px;
  background-color: #023047;
  border: none;
  color: #ffb703;
  border-radius: 1rem;
}
.nav-item {
  text-align: center;
  list-style: none;
  margin: 15px 0 0 0;
}
.nav-item i {
  border-bottom: 1px solid #044566;
  margin-bottom: 5px;
  color: #ffb703;
  scale: 1;
  transition: all 0.5s;
}
.nav-item i:hover {
  scale: 1.2;
}
.nav-item p {
  font-family: "Pragati Narrow";
  font-weight: 400;
  margin: 0;
}
.dropdown-content.deploy {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}

/*--------------------
 Header Top nav-bar
 ---------------------*/

.top-navbar {
  padding: 5px 10px;
  box-sizing: border-box;
}
.nav-links ul {
  display: flex;
  list-style: none;
  justify-content: end;
  padding: 0;
}
.nav-links ul li {
  padding: 0 15px;
}
.nav-links ul li a {
  color: #ffb703;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s;
}
.nav-links ul li a:hover {
  color: #fb8500;
}
/*--------------------
 Header container-menu
 ---------------------*/

.container-menu {
  padding: 5px 10px;
  border-top: solid 1px #044566;
}
.menu .logo {
  max-width: 7rem;
}

/*---------------------------------
 Header container-menu drop-down
 --------------------------------*/

.menu .open {
  background-color: #023047;
  border: 0;
}
.menu .open i {
  font-size: 22px;
  color: #ffb703;
}
.nav .close {
  background-color: #023047;
  border: 0;
  color: #ffb703;
}
.nav .close i {
  font-size: 22px;
}
.container-menu .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  right: 0;
  top: 90px;
  padding: 0 1.1rem;
  background-color: #023047;
  border-radius: 1rem;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}
.nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 10px;
  text-align: center;
}
.nav-list .register,
.nav-list .log-in {
  border-bottom: 1px solid #044566;
  text-align: center;
  margin-bottom: 8px;
}
.nav-list li a i {
  color: #ffb703;
  text-align: center;
}
.nav-list li a i:hover {
  color: #fb8500;
}
.nav-list li i p {
  font-size: 14px;
  font-family: "Pragati Narrow";
  font-weight: 400;
  margin: 3px 0;
}
.nav.visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

/*----------------------
----------MAIN----------
-----------------------*/

/*main {
  margin-top: 152px;
  z-index: -1;
}*/

/*-------------------------
------main del home------
-------------------------*/
.main-container {
  width: 100%;
  display: block;
  text-align: center;
}
.main-img img {
  display: block;
  width: 100%;
  height: auto;
  border-top: solid 5px #219ebc;
  border-bottom: solid 5px #219ebc;
}
.highlight-container {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.search-bar {
  background-color: #044566;
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
}
.title h3 {
  display: flex;
  color: #ffb703;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
.title p {
  color: #ffb703;
  margin: 0;
  font-size: 14px;
}
.search-bar i {
  color: grey;
  position: absolute;
  bottom: 12px;
}
.search-bar input {
  height: 30px;
  width: 210px;
  border: none;
  margin-bottom: 5px;
  text-indent: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline-color: #219ebc;
  font-family: "Pragati Narrow";
}
.search-bar button {
  height: 30px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: "Pragati Narrow";
}
/*----------------------
--------SLIDER---------- 
-----------------------*/
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 1rem;
}
.swiper h2 {
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 10px 0px;
  padding: 20px;
  background-image: linear-gradient(
    -225deg,
    #044566 0%,
    #3584a7 51%,
    #219ebc 100%
  );
  border-radius: 1rem;
}
.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 1rem;
  border: solid 1px #ffffff;
  background: linear-gradient(45deg, #043e5c, #044a6d);
  box-shadow: 19px -19px 38px #033853, -19px 19px 38px #055279;
}
.swiper-slide .text {
  text-align: center;
  margin: 10px 0px;
}

/*----------------------
--------FOOTER---------- 
-----------------------*/

footer {
  background-color: #023047;
  color: #8ecae6;
  padding: 5px 10px;
  box-sizing: border-box;
  border-top: solid 1px #219ebc;
  margin-top: auto;
  width: 100%;
}
.footer-container {
  display: block;
}
.clauses ul {
  list-style: none;
  margin: 0;
  padding: 10px 15px 15px 15px;
  border-top: solid 1px #044566;
}
.clauses ul a {
  text-decoration: none;
  color: #8ecae6;
}
.newsletter {
  padding: 0 15px 15px 15px;
  border-top: solid 1px #044566;
}
.newsletter h3 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}
.newsletter form input {
  padding: 0 5px;
  font-size: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  height: 30px;
  outline-color: #219ebc;
  font-family: "Pragati Narrow";
}
.newsletter form button {
  padding: 0 5px;
  font-size: 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  height: 30px;
  font-family: "Pragati Narrow";
  transition: all 0.3s;
}
.social-media ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social-media ul a {
  color: #8ecae6;
  padding-right: 10px;
}
.contact {
  padding: 0 15px 15px 15px;
  border-top: solid 1px #044566;
  color: #8ecae6;
}
.contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact h3 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}
.help h3 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}
.help li {
  list-style: none;
}
.help a {
  color: #8ecae6;
  text-decoration: none;
}
.footer-bottom {
  border-top: solid 1px #044566;
  text-align: center;
}
.footer-bottom a img {
  height: 50px;
}
.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

/*-----------------
---MEDIA QUERIES---
-----------------*/

@media (min-width: 361px) {
  /*.top-navbar .nav-links ul{
      display: flex;
      justify-content: end;
    }*/
}
@media (min-width: 480px) {
  .profile-link a {
    display: flex;
  }
}
@media (min-width: 769px) {
  /*----------------------
  --------HEADER----------
  ----------------------*/

  .nav {
    opacity: 1;
    visibility: visible;
    display: block;
    background-color: #023047;
    box-shadow: none;
  }
  .open {
    display: none;
  }
  .close {
    display: none;
  }
  .nav-list {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
  .nav-list .register,
  .nav-list .log-in {
    border-bottom: none;
    margin-bottom: 0;
  }
  /*.top-navbar .nav-links ul{
    display: flex;
    justify-content: end;
    margin-right: 30px;
  }*/
  .send {
    display: block;
  }

  /*------------------------
  ----------MAIN------------
  ------------------------*/

  .highlight-container {
    display: flex;
    flex-wrap: wrap;
  }
  .highlight-container .search-bar {
    width: 100%;
  }
  .all-services {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .all-services .services {
    width: 30%;
    box-shadow: 0 0 5px rgb(100, 100, 100);
  }

  /*------------------------
  -----------FOOTER---------
  -------------------------*/

  .footer-container {
    display: flex;
    justify-content: space-around;
  }
  .contact h3 {
    text-align: center;
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  /*----------------------
  --------HEADER----------
  ----------------------*/

  .top-navbar,
  .container-menu,
  .footer-container {
    justify-content: space-around;
    margin: auto;
  }
}
