.category {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    background-color: #edf8fb;
}
.category h2 {
    margin: 0;
}
.company-category {
    display: flex;
}
.clean-service {
    border:solid 1px #219EBC;
    border-radius: 20px;
    margin: 10px 10px;
    width: 50%;
}
.clean-service article {
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.clean-service article img {
    display: block;
    width: 100%;
    border-radius: 5px;
}
.clean-service article .img{
    width: 50%;
    border-radius: 5px;
    display: none;
}
.clean-service article .clean-company-title button{
    background-color: #044566;
    height: 35px;
    margin: 0 10px;
    border-right: solid 3px #219EBC;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-radius: 8px;
    font-family: 'Pragati Narrow';
    color: #ffffff;
    transition: all 0.3s;
    line-height: 1;  
}
.clean-service article .clean-company-title button:hover {
    background-color: #FB8500;
}
.disinfection-service {
    border:solid 1px #219EBC;
    border-radius: 20px;
    margin: 10px 10px;
    width: 50%;
}
.disinfection-service article {
    padding: 10px;
    margin-bottom: 5px;
}
.disinfection-service article img {
    display: block;
    width: 100%;
    border-radius: 5px;
}
.disinfection-service article .img{
    width: 50%;
    border-radius: 5px;
    display: none;
}
.disinfection-service article{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.disinfection-service article .clean-company-title button{
    background-color: #044566;
    height: 35px;
    margin: 0 10px;
    border-right: solid 3px #FB8500;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-radius: 8px;
    font-family: 'Pragati Narrow';
    color: #ffffff;
    transition: all 0.3s;
    line-height: 1;  
}
.disinfection-service article .clean-company-title button:hover {
    background-color: #FB8500;
}

/*-----------------
---MEDIA QUERIES---
-----------------*/

@media(min-width: 480px) {
    .company-category h2 {
     margin: 0;
    } 
    .disinfection-service article .img, .clean-service article .img {
     display: flex;
     align-items: center;
    }
    .company-category {
     justify-content: space-around;
     align-items: center;
    } 
 }
