/*------------------------
--STYLES PRODUCT CART--
------------------------*/

/*Productos*/

.container-cart {
  display: block;
  align-items: center;
  width: 100vw;
  background-color: #ebebeb;
  font-size: 18px;
  margin: 0 auto;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px;
  box-shadow: 0 0 5px rgb(149, 149, 149);
  background: linear-gradient(180deg, #219ebc, #044566);
  margin: 20px 10px 10px 10px;
  border-radius: 0.5rem;
  color: #ebebeb;
  transition: all;
}
.product .img-producto {
  width: 100%;
  display: block;
  border: solid 1px #ffffff;
  border-radius: 0.5rem;
}
.product .descripcion {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.product .titulo {
  margin: 0;
  font-size: 24px;
}
.resumen-pago {
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 5px rgb(149, 149, 149);
  margin: 0px 10px 10px 10px;
  width: 80%;
  border-radius: 0.5rem;
  color: #ebebeb;
  background: linear-gradient(180deg, #219ebc, #044566);
}
.a-pagar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.impuesto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.pago {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.a-pagar h4,
.a-pagar p {
  margin: 10px 0;
  font-size: 18px;
}
.impuesto h4,
.impuesto p {
  margin: 10px 0;
  font-size: 18px;
}
.pago h4,
.pago p {
  margin: 10px 0;
  font-size: 18px;
}
.divider {
  color: #044566;
}
.pagar {
  width: 80%;
  border: solid 1px #219ebc;
  border-radius: 8px;
  color: #ffffff;
  background-color: #044566;
  font-family: 'Pragati Narrow';
  font-size: 20px;
  text-align: center;
  transition: all 0.3s;
  margin-bottom: 10px;
  transition: all;
}
.pagar:hover {
  background-color: #fb8500;
}

/*-----------------
---MEDIA QUERIES---
-----------------*/

@media (min-width: 480px) {
  .container-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    text-align: center;
  }
  .product {
    width: 35%;
  }
  .resumen-pago {
    width: 35%;
    margin: 0;
  }
}
