/*-------------------------
--STYLES PRODUCT DETAIL--
-------------------------*/

.first-container {
  width: 100%;
  display: block;
  width: 80%;
}
.detail {
  width: 95%;
  margin: 30px auto;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  border-radius: 10px;
}
.second-container .incluye {
  padding: 0 5px;
  margin: 5px 0;
}
.second-container .incluye h2 {
  text-align: center;
  margin: 0;
}
.second-container .incluye ul {
  border-top: solid 1px #044566;
  padding: 5px 10px 5px 20px;
  margin: 5px 0;
  list-style: none;
}
.second-container .incluye ul p {
  margin: 0;
  line-height: 1;
  text-align: justify;
}
.second-container .no-incluye {
  border-radius: 5px;
  padding: 0 5px;
  margin: 5px 0;
}
.second-container .no-incluye h2 {
  text-align: center;
  margin: 0;
}
.second-container .no-incluye ul {
  border-top: solid 1px #044566;
  padding: 5px 10px 5px 20px;
  margin: 5px 0;
  list-style: none;
}
.second-container .no-incluye ul p {
  margin: 0;
  line-height: 1;
  text-align: justify;
}
.horas {
  margin: 5px auto;
  padding-bottom: 5px;
  text-align: center;
}
.horas label {
  display: inline-block;
  width: 90px;
  margin-bottom: 5px;
  background-color: #044566;
  border: solid 1px #219ebc;
  border-radius: 25px;
  color: #ffffff;
  box-shadow: none;
  padding: 5px 12px;
  transition: all 0.2s;
}
.horas input[type="radio"]:checked + label {
  background-color: #fb8500;
  border: solid 2px #219ebc;
  box-shadow: 0 0 10px rgb(100, 100, 100);
}
.horas input[type="radio"] {
  opacity: 0;
}
.periodo {
  margin: 5px auto;
  text-align: center;
  border-top: solid 1px #219ebc;
  padding-bottom: 5px;
}
.periodo label {
  display: inline-block;
  width: 90px;
  margin-bottom: 5px;
  background-color: #044566;
  border: solid 1px #219ebc;
  border-radius: 25px;
  color: #ffffff;
  box-shadow: none;
  padding: 5px 12px;
  transition: all 0.2s;
}
.periodo input[type="radio"]:checked + label {
  background-color: #fb8500;
  border: solid 2px #219ebc;
  box-shadow: 0 0 10px rgb(100, 100, 100);
}
.periodo input[type="radio"] {
  opacity: 0;
}
.first-container {
  width: 95%;
  margin: 0 auto;
}
/*------------------
-------form---------
--------------------*/
.schedule {
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgb(100, 100, 100);
  text-align: center;
}
.name,
.contact-data,
.address,
.date-service,
.recomendation,
.buttons {
  padding: 10px;
  font-family: "PragatiNarrow";
}
.name input[type="text"] {
  color: #219ebc;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  outline: solid 1px #219ebc;
  border: 0px;
  font-family: "PragatiNarrow";
  font-size: 17px;
}
.first-name div,
.last-name div {
  margin: 5px;
  text-align: left;
}
.contact-data input[type="text"],
.contact-data input[type="email"] {
  color: #219ebc;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  outline: solid 1px #219ebc;
  border: 0px;
  font-family: "PragatiNarrow";
  font-size: 17px;
}
.mail div,
.num-phone div {
  margin-bottom: 5px;
  text-align: left;
}
.address input[type="text"] {
  color: #219ebc;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  outline: solid 1px #219ebc;
  border: 0px;
  font-family: "PragatiNarrow";
  font-size: 17px;
}
.street div,
.location div {
  margin: 5px;
  text-align: left;
}
.date-service input[type="date"],
.date-service select {
  color: #219ebc;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  outline: solid 1px #219ebc;
  border: 0px;
  font-family: "PragatiNarrow";
  font-size: 17px;
}
.select-date div,
.hour div {
  margin: 5px;
  text-align: left;
}
.recomendation textarea {
  color: #219ebc;
  width: 95%;
  height: 60px;
  border-radius: 5px;
  outline: solid 1px #219ebc;
  border: 0px;
  font-family: "PragatiNarrow";
  font-size: 17px;
}
.label-title {
  margin: 5px;
  text-align: left;
}
.sending {
  border: none;
  color: #ffffff;
  background-color: #044566;
  font-family: "PragatiNarrow";
  font-size: 18px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.sending:hover {
  background-color: #ffb703;
}
.clear {
  border: none;
  color: #ffffff;
  background-color: #044566;
  font-family: "PragatiNarrow";
  font-size: 18px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.clear:hover {
  background-color: #ff3503;
}
/*--------------------------------
----------MEDIA QUERIES-----------
--------------------------------*/

@media (min-width: 480px) {
  .schedule {
    padding: 10px;
  }
  .name,
  .contact-data,
  .address,
  .date-service {
    display: flex;
    justify-content: space-around;
    padding: 2px;
  }
  .first-name,
  .last-name,
  .mail,
  .num-phone,
  .street,
  .location,
  .select-date,
  .hour {
    width: 45%;
  }
  .label-title {
    text-align: center;
  }
  .sending {
    margin-right: 10px;
  }
}

@media (min-width: 769px) {
  /*------------------------
  ----MAIN PRODUCT DETAIL---
  ------------------------*/

  .first-container {
    width: 80%;
    margin: 0 auto;
  }
  .first-container .select-options {
    box-shadow: 0 0 5px rgb(100, 100, 100);
    border-radius: 8px;
    margin: 30px 0 30px 0;
  }
  .second-container {
    display: flex;
    justify-content: space-around;
  }
  .second-container .incluye {
    width: 50%;
  }
  .detail {
    width: 80%;
  }
}
@media (min-width: 1280px) {
  /*------------------------
    ----MAIN PRODUCT DETAIL---
    ------------------------*/
}
