.category {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    background-color: #edf8fb;
}
.category h2 {
    margin: 0;
}
.company-category {
    display: flex;
}
.clean-service {
    border:solid 1px #219EBC;
    border-radius: 20px;
    margin: 10px 10px;
    width: 50%;
}
.clean-service article {
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.clean-service article img {
    display: block;
    width: 100%;
    border-radius: 5px;
}
.clean-service article .img{
    width: 50%;
    border-radius: 5px;
    display: none;
}
.clean-service article .clean-company-title button{
    background-color: #044566;
    height: 35px;
    margin: 0 10px;
    border-right: solid 3px #219EBC;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-radius: 8px;
    font-family: 'Pragati Narrow';
    color: #ffffff;
    transition: all 0.3s;
    line-height: 1;  
}
.clean-service article .clean-company-title button:hover {
    background-color: #FB8500;
}
.disinfection-service {
    border:solid 1px #219EBC;
    border-radius: 20px;
    margin: 10px 10px;
    width: 50%;
}
.disinfection-service article {
    padding: 10px;
    margin-bottom: 5px;
}
.disinfection-service article img {
    display: block;
    width: 100%;
    border-radius: 5px;
}
.disinfection-service article .img{
    width: 50%;
    border-radius: 5px;
    display: none;
}
.disinfection-service article{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.disinfection-service article .clean-company-title button{
    background-color: #044566;
    height: 35px;
    margin: 0 10px;
    border-right: solid 3px #FB8500;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-radius: 8px;
    font-family: 'Pragati Narrow';
    color: #ffffff;
    transition: all 0.3s;
    line-height: 1;  
}
.disinfection-service article .clean-company-title button:hover {
    background-color: #FB8500;
}

/*--------------------
---Cleaning services--
--------------------*/

.clean-services-company {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}
.main-description-company {
    text-align: left;
    padding: 0 15px;
}
.main-description-company h2 {
    border-left: solid 5px #219EBC;
    margin: 0;
    padding: 0 15px;
    color: #044566;
}
.main-description-company p {
    line-height: 1;
}
.clean-company {
    border: solid 1px #ebebeb;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(149, 149, 149);
    width: 95vw;
    margin: 10px auto;
}
.clean-company article {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.clean-company article img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.clean-company article .img-clean-company{
    width: 50%;
    border-radius: 5px;    
}
.clean-company .second-description {
    width: 50%;
    text-align: left;
    padding: 0 10px;
}
.clean-company .second-description h3 {
    font-size: 16px;
    color: #044566;
    margin: 0;
    line-height: 1;
}
.clean-company .second-description h4 {
    margin: 0;
    line-height: 1;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
.clean-company .second-description strong {
    margin: 0;
    line-height: 1;
    font-size: 16px;
    color: #044566;
}
.clean-company .second-description p {
    display: none;
    line-height: 1;
}

/*---------------------
-Disinfection services-
---------------------*/

.disinfection-services-company {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}
.main-description-company {
    text-align: left;
    padding: 0 15px;
}
.main-description-company h2 {
    border-left: solid 5px #219EBC;
    margin: 0;
    padding: 0 15px;
    color: #044566;
}
.main-description-company p {
    line-height: 1;
}
.disinfection-company {
    border: solid 1px #ebebeb;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(149, 149, 149);
    width: 95vw;
    margin: 10px auto;
}
.disinfection-company article {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.disinfection-company article img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.disinfection-company article .img-disinfection-company{
    width: 50%;
    border-radius: 5px;    
}
.disinfection-company .second-description {
    width: 50%;
    text-align: left;
    padding: 0 10px;
}
.disinfection-company .second-description h3 {
    font-size: 16px;
    color: #044566;
    margin: 0;
    line-height: 1;
}
.disinfection-company .second-description h4 {
    margin: 0;
    line-height: 1;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
.disinfection-company .second-description strong {
    margin: 0;
    line-height: 1;
    font-size: 16px;
    color: #044566;
}
.disinfection-company .second-description p {
    display: none;
    line-height: 1;
}

/*-----------------
---MEDIA QUERIES---
-----------------*/

@media(min-width: 480px) {
    .company-category h2 {
     margin: 0;
    } 
    .disinfection-service article .img, .clean-service article .img {
     display: flex;
     align-items: center;
    }
    .company-category {
     justify-content: space-around;
     align-items: center;
    } 
 }
 @media(min-width:769px) {
    .all-clean-works, .all-disinfection-works{
        display: flex;
        flex-wrap: wrap;
    }
    .clean-company {
        width: 47%;
    }
    .disinfection-company {
        width: 47%;
    }
    .disinfection-company-hidden {
        width: 47%;
    }
 }
 @media(min-width:960px) {
    .clean-company .second-description p {
        display: block;
        line-height: 1;
    }
    .clean-company article {
        flex-direction: column;
    }
    .clean-company article .second-description {
        margin-top: 10px;
    }
    .clean-company article .img-clean-company,
    .clean-company article .second-description {
        width: 100%;
    }
    .clean-company article .second-description h3 {
        font-size: 18px;
    }

    /*-----------------
    ---Disinfection---
    -----------------*/

    .disinfection-company .second-description p {
        display: block;
        line-height: 1;
    }
    .disinfection-company article {
        flex-direction: column;
    }
    .disinfection-company article .second-description {
        margin-top: 10px;
    }
    .disinfection-company article .img-disinfection-company,
    .disinfection-company article .second-description {
        width: 100%;
    }
    .disinfection-company article .second-description h3 {
        font-size: 18px;
    }
}
@media(min-width:1280px) {
    .category, .clean-services-company,
    .disinfection-services-company {
        max-width: 1200px;
    }
}
