/*--------------------
---Cleaning services--
--------------------*/
.main-description-company {
    text-align: left;
	padding: 0 15px;
	margin: 10px 0;
}
.main-description-company h2 {
    border-left: solid 5px #219ebc;
	margin: 0;
	padding: 0 15px;
	color: #044566;
}
.main-description-company p {
    line-height: 1;
}
.clean-company {
    position: relative;
	width: 50%;
	border: solid 1px #ebebeb;
	border-radius: 8px;
	box-shadow: 0 0 5px rgb(149, 149, 149);
	width: 95vw;
	margin: 10px auto;
	padding: 5px;
}
.clean-company img{
    display: block;
	width: 100%;
	height: auto;
	border-radius: 8px;
}
.descriptionCompany {
    position: absolute;
	bottom: 100%;
	right: 0;
	left: 0;
	background: linear-gradient(180deg,#219ebc, #044566) ;
	overflow: hidden;
	width: 95%;
	height: 0;
	text-align: center;
	padding: 0 10px;
	transition: .7s ease;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.clean-company:hover .descriptionCompany {
	bottom: 0;
	height: 100%;
}
.clean-company h3 {
    text-align: center;
	color: #044566;
	margin: 0;
	line-height: 1;
}
.descriptionCompany h4 {
    margin: 0;
	line-height: 1;
	font-size: 18px;
	color: #ffffff;
	font-weight: 400;
}
.descriptionCompany strong {
    margin: 0;
	line-height: 1;
	font-size: 18px;
	color: #ffffff;
}
.descriptionCompany p {
    margin: 10px;
	line-height: 1;
	font-size: 18px;
	color: #ffffff;
	font-weight: 400;
}
.request {
	width: 200px;
	height: 40px;
  border: solid 1px #219ebc;
	border-radius: 8px;
	color: #ffffff;
	background-color: #044566;
	font-family: 'Pragati Narrow';
	font-size: 20px;
	text-align: center;
	transition: all 0.3s;
}
.request:hover {
	background-color: #fb8500;
}

/*---------------------
-Disinfection services-
---------------------*/
.main-description-company {
    text-align: left;
    padding: 0 15px;
}
.main-description-company h2 {
    border-left: solid 5px #219EBC;
    margin: 0;
    padding: 0 15px;
    color: #044566;
}
.main-description-company p {
    line-height: 1;
}
.disinfection-company {
    position: relative;
	width: 50%;
	border: solid 1px #ebebeb;
	border-radius: 8px;
	box-shadow: 0 0 5px rgb(149, 149, 149);
	width: 95vw;
	margin: 10px auto;
	padding: 5px;
}
.disinfection-company img{
    display: block;
	width: 100%;
	height: auto;
	border-radius: 8px;
}
.descriptionCompany {
    position: absolute;
	bottom: 100%;
	right: 0;
	left: 0;
	background: linear-gradient(180deg,#219ebc, #044566) ;
	overflow: hidden;
	width: 95%;
	height: 0;
	text-align: center;
	padding: 0 10px;
	transition: .7s ease;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.disinfection-company:hover .descriptionCompany {
	bottom: 0;
	height: 100%;
}
.disinfection-company h3 {
    text-align: center;
	color: #044566;
	margin: 0;
	line-height: 1;
}
.descriptionCompany h4 {
    margin: 0;
	line-height: 1;
	font-size: 18px;
	color: #ffffff;
	font-weight: 400;
}
.descriptionCompany strong {
    margin: 0;
	line-height: 1;
	font-size: 18px;
	color: #ffb703;
}
.descriptionCompany p {
    margin: 10px;
	line-height: 1;
	font-size: 18px;
	color: #ffffff;
	font-weight: 400;
}
.request {
	width: 200px;
	height: 40px;
  border: solid 1px #219ebc;
	border-radius: 8px;
	color: #ffffff;
	background-color: #044566;
	font-family: 'Pragati Narrow';
	font-size: 20px;
	text-align: center;
	transition: all 0.3s;
}
.request:hover {
	background-color: #fb8500;
}

/*-----------------
---MEDIA QUERIES---
-----------------*/

@media (min-width: 480px) {
	.descriptionCompany{
		width: auto;
	}
}
@media (min-width: 769px) {
	.all-clean-works,
    .all-disinfection-works {
		display: flex;
		flex-wrap: wrap;
	}
	.clean-company {
		width: 30%;
	}
	.disinfection-company {
		width: 30%;
	}
}
@media (min-width: 1200px) {
	.clean-company,
	.disinfection-company {
		max-width: 1280px;
	}
}