/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* FORMULARIO DE REGISTRO  */
.main-register {
    background-color: #8ECAE6;
}

.crea-tu-cuenta {
    text-align: center;
    font-size: 40px;
    margin: 0 0 15px 0;
}

.formulario {
<<<<<<< HEAD
    max-width: 450px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
 }
=======
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Pragati Narrow', sans-serif;
   
}
>>>>>>> 842810f18f293ceff7938af06c43bc73e4f858fe
.formulario button {
    border: none;
    background-color: #FFB703;
    color: white;
    padding: 5px;
    border-radius: 20px;
    width: 47%;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 18px;
    font-weight:bold;
}
.container-button, .container-nombre, .container-contrasenia, .container-identificacion {
    display: flex;
    justify-content: space-between;
}
.container-nombre div {
    width: 49.5%;
}

.container-contrasenia div {
    width: 49.5%;
}
.container-identificacion div {
    width: 49.5%;
}

.input-normal {
    width: 100%;
    padding: 12px;
    margin: 0px 0px 10px;
    border-radius: 5px;
    border-color: #219EBC;
    color: #219EBC;
    font-weight: 400px;
    box-sizing: border-box;
    border: solid 2px;
    font-size: 18px;
}
.label-principal {
    font-weight:bold;
    font-size: 16px;
}

.politica {
    display: flex;
    align-items: first baseline;
}

.politica p {
    text-align: justify ;
}

.select {
    width: 100%;
    padding: 12px;
    margin: 0px 0px 10px;
    border-radius: 5px;
    border-color: #219EBC;
    color: #219EBC;
    font-weight: 400px;
    box-sizing: border-box;
    border: solid 2px;
    font-size: 18px;
}

.ya-tienes-cuenta {
    display: flex;
    justify-content: space-around

}
.text-iniciar-sesion {
    text-decoration: none;
}

::placeholder { color: #219EBC; }



