body {
    font-family: 'Pragati Narrow', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  /* Header */
  /* top-navbar */
  
  .top-navbar {
    background-color: #023047;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  .top-navbar .nav-links ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .top-navbar .nav-links li {
      padding: 0 15px;
  }
  .top-navbar .nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #ffb703;
  }
  
  /* container-menu */
  
  .container-menu {
    background-color: #023047;
    height: 100px;
    padding: 5px 10px;
    border-top: solid 1px #044566;
  }
  .container-menu .menu .logo{
    height: 90px;
    width:120px ;
  }
  .container-menu .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-menu .nav-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .container-menu .nav-menu li {
    padding-right: 15px;
  }
  .container-menu .nav-menu a {
    color: #ffb703;
  }
  .container-menu .nav-menu i {
    text-align: center;
  }
  .container-menu .nav-menu li i p{
    font-size: 8px;
  }
  .container-menu .nav-menu .search{
    display: none;
  }
  
  /*main*/

  main{
    margin: 0;
    padding:0;
    font-family: 'Pragati Narrow', sans-serif;
}

/*Productos*/

.contenedor{
    max-width: 1200px;
    max-height: 1000px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}

.contenedor .contenedor-items{
    flex:wrap;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 80%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #044566;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #ffb703;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: #044566;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}


/*Finalizacion de compra*/

.contenedor .contenedor-compras{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap:30px;
  grid-row-gap: 30px;
  border: 1px solid #ffffff;
  width: 80%;
  transition: .3s;
  position: sticky !important;
}
.contenedor .contenedor-compras .compra{
  max-width: 200px;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  transition: .3s;
}

.contenedor .contenedor-compras .compra .titulo-compras{
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.contenedor .contenedor-compras .compra .txt-compras{
  display: block;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}
.contenedor .contenedor-compras .compra .precio-compras{
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.contenedor .contenedor-compras .compra .boton-compras{
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #484d50;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

  /* Footer */
  
  footer{
    background-color: #023047;
    color: #8ECAE6;
    padding: 5px 10px;
    box-sizing: border-box;
    border-top: solid 1px #044566;
    margin-top: auto;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .clauses .items {
    list-style: none;
    margin: 0;
    padding: 10px 15px 15px 15px;
  }
  .items a {
    text-decoration: none;
    color: #8ECAE6;
  }
  .newsletter {
    padding: 0 15px 15px 15px;
    border-top: solid 1px #044566;
  }
  .newsletter h3{
    margin: 10px 0;
    font-size: 18px;
  }
  .newsletter form input {
    padding: 0 5px;
    font-size: 16px;
    border-radius: 5px;
  }
  .newsletter form button {
    padding: 0 5px;
    font-size: 16px;
    border-radius: 5px;
  }
  .socials {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:left;
  }
  .socials a {
    color: #8ECAE6;
    padding-right: 10px;
  }
  .information {
    padding: 0 15px 15px 15px;
    border-top: solid 1px #044566;
    color: #8ECAE6;
  }
  .information .contact {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .information .contact h3 {
    margin: 10px 0;
    font-size: 18px;
  }
  .help h3{
    margin: 10px 0;
    font-size: 18px;
  }
  .help li {
    list-style: none;
  }
  .help a {
    color: #8ECAE6;
    text-decoration: none;
  }
  .footer-bottom {
    border-top: solid 1px #044566;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-bottom a img{
  height: 90px;
  }
  
  /* Media queries*/
  
  @media(min-width: 480px) {
    .top-navbar .nav-links ul{
      display: flex;
      justify-content: end;
    }
    .top-navbar .nav-links a {
      font-size: 20px;
    }
    .container-menu .nav-menu li i p{
      font-size: 10px;
    }
    .container-menu .nav-menu .search{
      display: block;
    }
    .clauses .items, .newsletter, .information{
      text-align: center;
    }
    .socials {
      display: flex;
      justify-content: center;
    } 
    .footer-bottom {
      align-items: center;
    }
  }
  @media(min-width: 769px) {
    .top-navbar .nav-links ul{
      display: flex;
      justify-content: end;
      margin-right: 30px;
    }
    .container-menu .menu {
      margin-right: 30px;
    }
    
  }
  @media(min-width: 1280px) {
    .top-navbar .nav-links ul, .container-menu .menu {
      max-width: 1280px;
      margin: auto;
    }
    .clauses .items {
      display: flex;
      justify-content: space-around;
    }
    .information {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .information .contact {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .information .contact h3 {
      width: 100%;
    }
    .container {
      max-width: 1280px;
      margin: auto;
    } 
  }
  