body {
    font-family: 'Pragati Narrow', sans-serif;
	background-color: white;
} 

.formulario {
    background-image: ;
    max-width: 450px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
	 }

.container-button {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: 400px;
}

.formulario button {
	border: none;
	background-color: #FFB703;
	color: white;
	padding: 10px;
	border-radius: 5px;
	width: 47%;
	font-size: 16px;
	font-weight: 400px;
}


.input-normal {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    background-color: #8ECAE6;
    border: 0.5px solid #219EBC;
    font-weight: 400px;
    box-sizing: border-box;
    }

	
	
.top-navbar {
	background-color: #023047;
	padding: 5px 10px;
	box-sizing: border-box;
  }
  .top-navbar .nav-links ul{
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  .top-navbar .nav-links li {
	  padding: 0 15px;
  }
  .top-navbar .nav-links a {
	text-decoration: none;
	font-size: 18px;
	color: #ffb703;
  }
  
  
  .container-menu {
	background-color: #023047;
	height: 100px;
	padding: 5px 10px;
	border-top: solid 1px #044566;
  }
  .container-menu .menu .logo{
	height: 90px;
	width:120px ;
  }
  .container-menu .menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .container-menu .nav-menu ul {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  .container-menu .nav-menu li {
	padding-right: 15px;
  }
  .container-menu .nav-menu a {
	color: #ffb703;
  }
  .container-menu .nav-menu i {
	text-align: center;
  }
  .container-menu .nav-menu li i p{
	font-size: 8px;
  }
  .container-menu .nav-menu .search{
	display: none;
  }
  
header  {
    text-align: center;
	font-size: 20px;
    text-decoration: none;
    color:  #023047;

}


main div.input {
    text-align: center;
}

main div.redes {
	display: flex;
	align-items: center;
	justify-content: center;
}

main .fa-facebook {    
	background:#1877f2;
}

main .fa-instagram {
	background: #c32aa3;
}

main div.redes i {
	color: #fff;
	width: 25px;
	height: 25px;
    margin: 2px;
	font-size: 25px;
	display: flex;
	
	justify-content: center;
	
	padding: 5px;
    margin: 0px 20px 20px 10px;
    border-radius: 10px;
}

main div.submit {
	color: #fff;
	width: 310px;
	height: 40px;
    margin: 40px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
    margin: 5px 0px 20px 0px;
    border-radius: 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;

	display: block;
    width: 100%;
	 }
	 
	 
.submit {
	display: flex;
	justify-content: center;
	align-items: center;
}
.final {
	display: flex;
	flex-direction: row;
	font-size: 12px;
}
.ingresa {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.recordar {
	display: flex;
	flex-direction: row;
	font-size: 12px;
}
	 
footer{
	background-color: #023047;
	color: #8ECAE6;
	padding: 5px 10px;
	box-sizing: border-box;
	border-top: solid 1px #044566;
	margin-top: auto;
	width: 100%;
  }

  .container {
	display: flex;
	flex-direction: column;
  }
  .clauses .items {
	list-style: none;
	margin: 0;
	padding: 10px 15px 15px 15px;
  }

  .items a {
	text-decoration: none;
	color: #8ECAE6;
  }
  .newsletter {
	padding: 0 15px 15px 15px;
	border-top: solid 1px #044566;
  }

  .newsletter h3{
	margin: 10px 0;
	font-size: 18px;
  }
  .newsletter form input {
	padding: 0 5px;
	font-size: 16px;
	border-radius: 5px;
  }

  .newsletter form button {
	padding: 0 5px;
	font-size: 16px;
	border-radius: 5px;
  }
  .socials {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content:left;
  }

  .socials a {
	color: #8ECAE6;
	padding-right: 10px;
  }
  .information {
	padding: 0 15px 15px 15px;
	border-top: solid 1px #044566;
	color: #8ECAE6;
  }
  .information .contact {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  .information .contact h3 {
	margin: 10px 0;
	font-size: 18px;
  }

  .help h3{
	margin: 10px 0;
	font-size: 18px;
  }
  .help li {
	list-style: none;
  }
  .help a {
	color: #8ECAE6;
	text-decoration: none;
  }

  .container-button {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 400px;
}

form div div {
    padding: 10px; 
    margin-left: 20px
}

 
  .label-principal {
    font-weight:bold;
    font-size: 16px;
}


	
  .footer-bottom {
	border-top: solid 1px #044566;
	padding: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  }
  .footer-bottom a img{
  height: 90px;
  }