body {
  font-family: 'Pragati Narrow', sans-serif;
  margin: 0;
  padding: 0;
}
.main-header {
 /*position: fixed;
 margin-top: 0;*/
 background-color: #023047;
 width: 100%;
}

/*---------------------------------------           Header Top nav-bar
--------------------------------------*/

.top-navbar {
  padding: 5px 10px;
  box-sizing: border-box;
}
.top-navbar .nav-links ul{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-navbar .nav-links li {
    padding: 0 15px;
}
.top-navbar .nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #ffb703;
}

/*-------------------------------------
         Header container-menu
--------------------------------------*/

.container-menu {
  height: 100px;
  padding: 5px 10px;
  border-top: solid 1px #044566;
}
.container-menu .menu .logo{
  height: 90px;
  width:120px ;
}
.container-menu .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-menu .nav-menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.container-menu .nav-menu li {
  padding-right: 15px;
}
.container-menu .nav-menu a {
  color: #ffb703;
}
.container-menu .nav-menu i {
  text-align: center;
}
.container-menu .nav-menu li i p{
  font-size: 14px;
  font-family: 'Pragati Narrow';
  font-weight: 400;
  margin: 3px 0;
}
.container-menu .nav-menu .search{
  display: none;
}

/*-------------------------------------
                main
--------------------------------------*/

/*main {
  margin-top: 152px;
  z-index: -1;
}*/

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-container .main-img img {
  width: 100%;
  border-top: solid 5px #219EBC;
  border-bottom: solid 5px #219EBC;
}
.send {  
  border: solid 1px #219EBC;
  border-radius: 8px;
  color: #ffffff;
  background-color: #044566;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 30px;
  font-family: 'Pragati Narrow';
  font-size: 16px;
  text-align: center;
  display: none;
  transition: all 0.3s;
}
.send:hover {
  color: #000000;
  background-color: #ebebeb;
}
.highlight-container {
  width: 95vw;
  display: block;
  margin: auto;
}
.services {
  border:solid 1px #ebebeb;
  padding: 3px;
  margin-bottom: 10px;
}
.services article {
  padding: 10px;
  margin-bottom: 5px;
}
.services article img {
  width: 100%;
}
.description {
  text-align: center;
}

/*---------------------------------------                 Footer --------------------------------------*/

footer{
  background-color: #023047;
  color: #8ECAE6;
  padding: 5px 10px;
  box-sizing: border-box;
  border-top: solid 1px #219EBC;
  margin-top: auto;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
}
.clauses .items {
  list-style: none;
  margin: 0;
  padding: 10px 15px 15px 15px;
}
.items a {
  text-decoration: none;
  color: #8ECAE6;
}
.newsletter {
  padding: 0 15px 15px 15px;
  border-top: solid 1px #044566;
}
.newsletter h3{
  margin: 10px 0;
  font-size: 18px;
}
.newsletter form input {
  padding: 0 5px;
  font-size: 16px;
  border-radius: 5px;
}
.newsletter form button {
  padding: 0 5px;
  font-size: 16px;
  border-radius: 5px;
}
.socials {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content:left;
}
.socials a {
  color: #8ECAE6;
  padding-right: 10px;
}
.information {
  padding: 0 15px 15px 15px;
  border-top: solid 1px #044566;
  color: #8ECAE6;
}
.information .contact {
  list-style: none;
  padding: 0;
  margin: 0;
}
.information .contact h3 {
  margin: 10px 0;
  font-size: 18px;
}
.help h3{
  margin: 10px 0;
  font-size: 18px;
}
.help li {
  list-style: none;
}
.help a {
  color: #8ECAE6;
  text-decoration: none;
}
.footer-bottom {
  border-top: solid 1px #044566;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-bottom a img{
height: 90px;
}

/*---------------------------------------             Media queries
--------------------------------------*/

@media(min-width: 480px) {
  .top-navbar .nav-links ul{
    display: flex;
    justify-content: end;
  }
  .top-navbar .nav-links a {
    font-size: 16px;
  }
  .container-menu .nav-menu li i p{
    font-size: 16px;
  }
  .container-menu .nav-menu .search{
    display: block;
  }
  .send {
    display: block;
    width: 150px;
    height: 25px;
    font-size: 14px;
    right: 5px;
    bottom: 19px;
  }
  .highlight-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .highlight-container h2 {
    margin: 0;
    width: 100%;
  }
  .services {
    width: 30%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .clauses .items, .newsletter, .information{
    text-align: center;
  }
  .socials {
    display: flex;
    justify-content: center;
  } 
  .footer-bottom {
    align-items: center;
  }
}
@media(min-width: 769px) {
  .top-navbar .nav-links ul{
    display: flex;
    justify-content: end;
    margin-right: 30px;
  }
  .container-menu .menu {
    margin-right: 30px;
  }
}
@media(min-width: 1280px) {
  .top-navbar, .container-menu {
     max-width: 1200px; 
     margin: auto;  
  }
  .clauses .items {
    display: flex;
    justify-content: space-around;
  }
  .information {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .information .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .information .contact h3 {
    width: 100%;
  }  
}
