@import 'index.css';
@import 'login.css';
@import 'register.css';
@import 'productCart.css';
@import 'productDetailId.css';
@import 'productListHome.css';
@import 'productListCompany.css';
@import 'profile.css';
@import 'productsAll.css';
@import 'aboutUs.css';

body {
  font-family: 'Pragati Narrow', sans-serif;
  margin: 0;
  padding: 0;
}
main {
  min-height: calc(100vh - 170px - 151px);
}
