body {
  font-family: 'Pragati Narrow', sans-serif;
  margin: 0;
  padding: 0;
}

/*----------------------
--------HEADER--------
-----------------------*/

.main-header {
 /*position: fixed;
 margin-top: 0;*/
 background-color: #023047;
 width: 100%;
}

/*--------------------
Header Top nav-bar
---------------------*/

.top-navbar {
  padding: 5px 10px;
  box-sizing: border-box;
}
.top-navbar .nav-links ul{
  display: inline-block;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-navbar .nav-links li {
    padding: 0 15px;
}
.top-navbar .nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #ffb703;
  transition: all 250ms;
}
.nav-links .hogar:hover,
.nav-links .empresas:hover,
.nav-links .nosotros:hover {
  font-size: 18px;
}

/*--------------------
Header container-menu
---------------------*/

.container-menu {
  padding: 5px 10px;
  border-top: solid 1px #044566;
}
.menu .logo{
  height: 70px;
}
.container-menu .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.container-menu nav li {
  padding-right: 15px;
}
.container-menu nav li a i{
  color: #ffb703;
  text-align: center;
}
.container-menu nav li i p{
  font-size: 14px;
  font-family: 'Pragati Narrow';
  font-weight: 400;
  margin: 3px 0;
}
.log-in, .register, .shopping{
  display: none;
}

/*----------------------
----------MAIN----------
-----------------------*/

/*main {
  margin-top: 152px;
  z-index: -1;
}*/

/*-------------------------
------main del home------
-------------------------*/
.main-container {
  width: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
}
.main-img img {
  display: block;
  width: 100%;
  border-top: solid 5px #219EBC;
  border-bottom: solid 5px #219EBC;
}
.send {  
  border: solid 1px #219EBC;
  border-radius: 8px;
  color: #ffffff;
  background-color: #044566;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 30px;
  font-family: 'Pragati Narrow';
  font-size: 16px;
  text-align: center;
  display: none;
  transition: all 0.3s;
}
.send:hover {
  color: #ffffff;
  background-color: #FB8500;
}
.highlight-container {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.search-bar {
  background-color: #044566;
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  margin-top: 0;
}
.title h3 {
  color: #FFB703;
  margin: 0;
  font-size: 16px;
}
.title p {
  color: #FFB703;
  margin: 0;
  font-size: 14px;
}
.search-bar i {
  color: grey;
  position: absolute;
  bottom: 12px;
}
.search-bar input {
  height: 30px;
  width: 210px;
  border: none;
  margin-bottom: 5px;
  text-indent: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline-color: #219EBC;
  font-family: 'Pragati Narrow';
}
.search-bar button {
  height: 30px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: 'Pragati Narrow';
}
.services {
  border:solid 1px #ebebeb;
  border-radius: 20px;
  padding: 3px;
  margin-bottom: 10px;
}
.services article {
  padding: 10px;
  margin-bottom: 5px;
}
.services article img {
  width: 100%;
}
.description {
  text-align: center;
}

/*------------------------
---STYLES REGISTER FORM---
------------------------*/


.img-register {
  width: 100%;
  margin: auto;
}

.main-register h2 {
  margin: 0 0 15px 0;
}

.formulario {
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Pragati Narrow', sans-serif;
  margin: auto;
  
}
.formulario button {
  border: none;
  border-radius: 20px;
  background-color: #044566;
  color: white;
  padding: 5px;
  width: 47%;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 18px;
  
  transition: all 0.3s;
}
.formulario button:hover{
  background-color: #FFB703;
}
.container-button, .container-nombre, .container-contrasenia, .container-identificacion {
  display: flex;
  justify-content: space-between;
}
.container-button{
  margin-top: 20px;
}
.container-nombre div {
  width: 49.5%;
}
.container-contrasenia div {
  width: 49.5%;
}
.container-identificacion div {
  width: 49.5%;
}
.input-normal {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: solid 2px;
  color: black;
  font-weight: 300px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
}
.label-principal {
  color: black;
  font-size: 16px;
  
}
.politica {
  display: flex;
  align-items: first baseline;
  color:black;
  
}
.politica p {
  text-align: justify;
  margin: 0px 0px 0px 0px;
}
.select {
  width: 100%;
  padding: 10px;
  margin: 0px 0px 10px;
  border-radius: 5px;
  font-weight: 300px;
  box-sizing: border-box;
  border: solid 2px;
  font-size: 16px;
}
.ya-tienes-cuenta {
  display: flex;
  justify-content: space-around;
  color:black;
  margin: 0px;
  padding: 0px;
}

.ya-tienes-cuenta p {
  margin: 20px 0px;

}


.text-iniciar-sesion {
  text-decoration: none;
  color:black;
}
.crea-tu-cuenta {
  text-align: center;
  font-size: 40px;
  margin: 15px 0px;
  color:#FFB703
}

/*------------------------
--STYLES PRODUCT CART--
------------------------*/

/*Productos*/

.contenedor{
  max-width: 1200px;
  max-height: 1000px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  contain: paint;
}

.contenedor .contenedor-items{
  flex:wrap;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap:30px;
  grid-row-gap: 30px;
  width: 80%;
  transition: .3s;
}
.contenedor .contenedor-items .item{
  max-width: 200px;
  margin: auto;
  border: 1px solid #044566;
  border-radius: 10px;
  padding: 20px;
  transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
  width: 100%;
}
.contenedor .contenedor-items .item:hover{
  box-shadow: 0 0 10px #ffb703;
  scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.contenedor .contenedor-items .item .boton-item{
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #044566;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/*Finalizacion de compra*/

.contenedor .contenedor-compras{
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
grid-gap:30px;
grid-row-gap: 30px;
border: 1px solid #ffffff;
width: 80%;
transition: .3s;
position: sticky !important;
}
.contenedor .contenedor-compras .compra{
max-width: 200px;
margin: auto;
border-radius: 10px;
padding: 20px;
transition: .3s;
}

.contenedor .contenedor-compras .compra .titulo-compras{
display: block;
font-weight: bold;
text-align: center;
text-transform: uppercase;
}
.contenedor .contenedor-compras .compra .txt-compras{
display: block;
font-weight: 100;
text-align: center;
text-transform: uppercase;
}
.contenedor .contenedor-compras .compra .precio-compras{
display: block;
text-align: center;
font-weight: bold;
font-size: 22px;
}

.contenedor .contenedor-compras .compra .boton-compras{
display: block;
margin: 10px auto;
border: none;
background-color: #484d50;
color: #fff;
padding: 5px 15px;
border-radius: 5px;
cursor: pointer;
}

/*----------------------
--------FOOTER---------- 
-----------------------*/

footer{
  background-color: #023047;
  color: #8ECAE6;
  padding: 5px 10px;
  box-sizing: border-box;
  border-top: solid 1px #219EBC;
  margin-top: auto;
  width: 100%;
}
.footer-container {
  display: block;
}
.clauses ul {
  list-style: none;
  margin: 0;
  padding: 10px 15px 15px 15px;
  border-top: solid 1px #044566;
}
.clauses ul a {
  text-decoration: none;
  color: #8ECAE6;
}
.newsletter {
  padding: 0 15px 15px 15px;
  border-top: solid 1px #044566;
}
.newsletter h3{
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}
.newsletter form input {
  padding: 0 5px;
  font-size: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  height: 30px;
  outline-color: #219EBC;
  font-family: 'Pragati Narrow';
}
.newsletter form button {
  padding: 0 5px;
  font-size: 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  height: 30px;
  font-family: 'Pragati Narrow';
  transition: all 0.3s;
}
.social-media ul {
  padding: 0;
  margin: 0;
  display: inline-block
}
.social-media ul a {
  color: #8ECAE6;
  padding-right: 10px;
}
.contact {
  padding: 0 15px 15px 15px;
  border-top: solid 1px #044566;
  color: #8ECAE6;
}
.contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact h3 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}
.help h3{
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}
.help li {
  list-style: none;
}
.help a {
  color: #8ECAE6;
  text-decoration: none;
}
.footer-bottom {
  border-top: solid 1px #044566;
  text-align: center;
  height: 55px;
}
.footer-bottom a img{
height: 50px;
}
.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

/*---------------------------------------             Media queries
--------------------------------------*/

@media(min-width: 361px) {
  
  
  
  
  .top-navbar .nav-links ul{
    display: flex;
    justify-content: end;
  }
}
@media(min-width: 769px) {
  .log-in, .register, .shopping{
    display: block;
  }
  .top-navbar .nav-links ul{
    display: flex;
    justify-content: end;
    margin-right: 30px;
  }
  .container-menu .menu {
    margin-right: 30px;
  }
  .send {
    display: block;
  }
  .highlight-container {
    display: flex;
    flex-wrap: wrap;
  }
  .highlight-container .search-bar {
    width: 100%;
  }
  .all-services {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .all-services .services {
    width: 30%;
    box-shadow: 0 0 5px rgb(100, 100, 100);
  }
  .footer-container {
    display: flex;
    justify-content: center;
  }
  .contact h3 {
    text-align: center;
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
}



}
@media(min-width: 1280px) {
  
  .top-navbar, .container-menu, .footer-container{
     max-width: 1200px; 
     margin: auto;  
  }
  .clauses .items {
    display: flex;
    justify-content: space-around;
  }
  .information {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .information .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .information .contact h3 {
    width: 100%;
  }  
}
