<!DOCTYPE html>
<%- include ('../partials/head', {title: 'Register'}) %>
<body>
  
  <%- include ('../partials/header') %>

<main class="main-register">

  <form action="/user/register" method="post" enctype="multipart/form-data" class="formulario">
    <h1 class="crea-tu-cuenta" >Crea tu cuenta Myhelp</h1>
      <div class="container-nombre">
        <div>
          <label class="label-principal" for="nombre">Nombre completo</label>
          <input class="input-normal" type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
        </div>
      </div>

        <div>
          <label class="label-principal" for="email">Correo electrónico</label>
        <input class="input-normal" type="email" id="email" name="email" placeholder="Ingresa tu correo" required>
        </div>

        <div class="container-contrasenia"> 
          <div>
            <label class="label-principal" for="password">Contraseña</label>
            <input class="input-normal" type="password" id="password" name="password" placeholder="Crea tu contraseña" required>
          </div>
          <div>
            <label class="label-principal" for="cpassword">Confirma la contraseña</label>
            <input class="input-normal" type="password" id="cpassword" name="cpassword" placeholder="Confirma contraseña" required>
          </div>
        </div>

        <div>
          <label class="label-principal" for="imagen">Avatar</label>
          <input class="input-normal" type="file" id="imagen" name="imagen" required>
        </div>

        <div class="container-identificacion">
          <div>
            <label class="label-principal" for="tipo_identificacion">Tipo de identificacón</label>
            <select class="select" id="tipo_identificacion" name="tipo_identificacion">
              <option value="value1">Selecciona...</option>
              <option value="value2" required>Cédula de ciudadanía</option>
              <option value="value3" required>Cédula de extranjería</option>
              <option value="value4" required>Pasaporte</option>
            </select>
          </div>
          <div>
            <label class="label-principal" for="identificacion">Número</label>
            <input class="input-normal" type="text" id="identificacion" name="identificacion" placeholder="Escribe tu documento" required>
          </div> 
        </div> 

        <div>
            <label class="label-principal" for="celular">Celular</label>
            <input class="input-normal" type="tel" id="celular" name="celular" placeholder="Ingresa tu celular" required>
        </div>
    
        <div class="politica">
          <input type="checkbox" name="politica" value="politica1">
          <p>Acepto los términos y condiciones de uso del sitio web.</p>
        </div>

        <div class="politica"> 
            <input type="checkbox" name="politica" value="politica2">
            <p>Acepto el tratamiento de datos personales según la política de privacidad 
            con el fin de ser contactado por MyHelp a través de los medios suministrados 
            y/o recibir información relacionada con productos/servicios.</p>
        </div>

        <div class="container-button">
            <button class="btn-form-register"  type="reset">Cancelar</button>
            <button class="btn-form-register" type="submit">Enviar</button>
        </div>  

        <div class="ya-tienes-cuenta">
          <p>¿Ya tienes una cuenta?</p>
          <a class="text-iniciar-sesion" href="/login"><p>Iniciar sesión</p></a>
        </div>
  </form>

</main>

<%- include ('../partials/footer') %>  

</body>
</html>