<footer>
  <div class="footer-container">
    <div class="clauses">
      <ul>
        <li><a href="#">Quiénes somos</a></li>
        <li><a href="#">¿Quieres ser provedor?</a></li>
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Política de cookies</a></li>
        <li><a href="#">Política de tratamiento datos personales</a></li>
      </ul>
    </div>

    <div class="newsletter">
      <h3>Entérate de nuestras últimas noticias</h3>
      <form action="" method="post">
        <input type="email" name="email" placeholder="Email">
        <button type="submit">Suscríbete</button>
      </form>

      <div class="social-media">
        <ul>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </ul>
      </div>
    </div>
    
    <div class="contact">
      <ul>
        <h3>Contacto</h3>
        <li>Teléfono: (+57) 123456789</li>
        <li>Correo: contacto@MyHelp.com</li>
        <li>Correo: soporte@MyHelp.com</li>
      </ul>
    </div>
</div>
<div class="footer-bottom">
  <a href="">
    <img src="img/logo.png" alt="logo">
  </a>
  <p>Myhelp 2023-©Todos los derechos reservados</p>
</div>
</footer>