<!DOCTYPE html>
<%- include ('../partials/head', {title: 'Products' }) %>

    <body>

        <%- include ('../partials/header') %>

            <main>
                <div class="container-cart">
                    <div class="product">
                        <img class="img-producto" src="/img/imgServiciosMyhelp/limpiezaHogar.svg" alt="img">
                        <h2 class="titulo">Limpieza hogar</h2>
                        <p><strong>$ precio</strong></p>
                        <h3 class="descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
                            laboriosam ipsa eos accusantium est numquam consectetur sapiente labore, asperiores vero
                            totam necessitatibus sunt eaque neque distinctio maxime iusto, libero repellat.</h3>
                    </div>
                    <div class="resumen-pago">
                        <h4 class="resumen">Resumen de compra</h4>
                        <hr class="divider">
                        <div class="a-pagar">
                            <h4>Costo servicio</h4>
                            <p>$ 75000</p>
                        </div>
                        <hr class="divider">
                        <div class="pago">
                            <h4>Total</h4>
                            <p>$ 75000</p>
                        </div>
                        <button class="pagar" type="submit"> Ir a pagar</button>
                    </div>
                </div>
            </main>

            <%- include ('../partials/footer') %>

    </body>

    </html>