<!DOCTYPE html>
<%- include ('../partials/head', {title: 'MyHelp'}) %>
<body>

  <%- include ('../partials/header') %>
  <main>
    <section class="category">
      <h2>Seleccione la categoria</h2>
      <div class="company-category">
        <div class="clean-service">
          <article>
            <div class="img">
              <img src="img/imgServiciosMyHelp/limpiezaEmpresa.svg" alt="limpiezaProfunda">
            </div>
          <div class="clean-company-title">
            <a href="#"><button type="submit">Limpieza</button></a>
          </div>
          </article>
        </div>
        <div class="disinfection-service">
          <article>
            <div class="img">
              <img src="img/imgServiciosMyHelp/desinfeccionGeneral.svg" alt="limpieza">
            </div>
          <div class="clean-company-title">
            <a href="#"><button type="submit
              ">Desinfeccion</button></a>
          </div>
          </article>
        </div>
      </div>
    </section>
    <section class="clean-services-company">
      <div class="main-description-company">
        <h2>Limpieza</h2>
        <p>Tu empresa siempre impecable! Limpieza eficiente que tu empresa merece. </p>
      </div>
      <div class="all-clean-works">
        <div class="clean-company">
          <article>
            <div class="img-clean-company">
              <img src="img/imgServiciosMyHelp/limpiezaGeneral.svg" alt="limpiezaGeneral">
            </div>
          <div class="second-description">
            <h3>Limpieza General</h3>
            <h4>Precio: <strong>$ 90.000</strong></h4>
            <p>Servicio diario o semanal. Aspiración o barrido de pisos, limpieza de escritorios y superficies y mucho mas...</p>
          </div>
          </article>
        </div>
        <div class="clean-company">
          <article>
            <div class="img-clean-company">
              <img src="img/imgServiciosMyHelp/limpiezaProfunda.svg" alt="limpiezaProfunda">
            </div>
          <div class="second-description">
            <h3>Limpieza Profunda</h3>
            <h4>Precio: <strong>$ 120.000</strong></h4>
            <p>Servicio diario o semanal. Limpieza exhaustiva y a fondo de las instalaciones.</p>
          </div>
          </article>
        </div>
      </div>
    </section>
    <section class="disinfection-services-company">
      <div class="main-description-company">
        <h2>Desinfección</h2>
        <p>Un ambiente limpio y saludable para tu empresa.</p>
      </div>
      <div class="all-disinfection-works">
        <div class="disinfection-company">
          <article>
            <div class="img-disinfection-company">
              <img src="img/imgServiciosMyHelp/desinfeccion.svg" alt="desinfeccion">
            </div>
          <div class="second-description">
            <h3>Desinfección de Ambientes</h3>
            <h4>Precio: <strong>$ 150.000</strong></h4>
            <p>Servicio diario o semanal.Nosotros eliminamos los gérmenes, disfruta de un espacio limpio y seguro</p>
          </div>
          </article>
        </div>
        
      </div>
    </section>
  </main>
  <%- include ('../partials/footer') %>
  
</body>
</html>