<!DOCTYPE html>
<%- include ('../partials/head', {title: 'MyHelp'}) %>
<body>

  <%- include ('../partials/header') %>
  <main>
    <section class="category">
      <h2>Seleccione la categoria</h2>
      <div class="company-category">
        <div class="clean-service">
          <article>
            <div class="img">
              <img src="img/imgServiciosMyHelp/limpiezaEmpresa.svg" alt="limpiezaProfunda">
            </div>
          <div class="clean-company-title">
            <a href="#"><button type="submit">Limpieza</button></a>
          </div>
          </article>
        </div>
        <div class="disinfection-service">
          <article>
            <div class="img">
              <img src="img/imgServiciosMyHelp/desinfeccionGeneral.svg" alt="limpieza">
            </div>
          <div class="clean-company-title">
            <a href="#"><button type="submit
              ">Desinfeccion</button></a>
          </div>
          </article>
        </div>
      </div>
    </section>
  </main>
  <%- include ('../partials/footer') %>
  
</body>
</html>