<!DOCTYPE html>
<%- include ('../partials/head', {title: 'List'}) %>
<body>
  <%- include ('../partials/header') %>
  <main>
    <div class="clean-menu">

    </div>
  </main>
  <%- include ('../partials/footer') %>
</body>
