<!DOCTYPE html>
<%- include ('../partials/head', {title: 'Products' }) %>

    <body>

        <%- include ('../partials/header') %>

            <main>
                <div class="container-cart">
                    <div class="product">
                        <img class="img-producto" src="/img/imgServiciosMyhelp/limpiezaHogar.svg" alt="img">
                        <h2 class="titulo">Limpieza hogar</h2>
                        <p><strong>Precio: $90000</strong></p>
                        <h3 class="descripcion">Servicio por horas. Deja impecable tu hogar.</h3>
                    </div>
                    <div class="resumen-pago">
                        <h4 class="resumen">Resumen de compra</h4>
                        <hr class="divider">
                        <div class="a-pagar">
                            <h4>Costo servicio</h4>
                            <p>$ 90000</p>
                        </div>
                        <div class="impuesto">
                            <h4>Recargo iva</h4>
                            <p>$ 17100</p>
                        </div>
                        <hr class="divider">
                        <div class="pago">
                            <h4>Total</h4>
                            <p>$ 107100</p>
                        </div>
                        <button class="pagar" type="submit"> Ir a pagar</button>
                    </div>
                </div>
            </main>

            <%- include ('../partials/footer') %>

    </body>

    </html>